<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#/app" class="header item">Dashboard</a>
    <a href="#/app/pricing" class="item">Pricing</a>
    <div class="ui simple dropdown item">
      <a href="#/app/trade">Trades <i class="dropdown icon"></i></a>
      <div class="menu">
        <a class="item" ng-click="actions.createTicket()">New Ticket</a>
      </div>
    </div>
    <div class="right item"
         style="padding: 0">
      <div class="ui simple dropdown item">
        Joh Doe <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#/app">Account</a>
        </div>
      </div>
    </div>
  </div>
</div>
